src/main/mule/demojenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="143f67d7-face-4176-9529-c1982ec44a68" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demojenkinsFlow" doc:id="61afa8f8-8b95-4938-90c2-3d8a7570cbe3" >
		<http:listener doc:name="Listener" doc:id="390dd693-f1bf-426c-9f30-239e183e8228" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<set-payload value="#['Demo-jenkins']" doc:name="Set Payload" doc:id="41ed8648-58eb-4a50-b2f6-f8fcd72d400f" />
	</flow>
</mule>
